* {
  font-family: 'Poppins', 'Gilroy', sans-serif;
  line-height: 1rem;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #181f2c;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  width: 100%;
  background: #f6f6f6;
  color: #181f2c;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.highligth {
  color: #ff4745;
}

.bolder {
  font-weight: bolder;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 1rem;
}

.fa-chevron-down {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
}

.navbar {
  position: relative;
  height: 4rem;
  padding: 0 15%;
  font-family: 'Poppins', 'Gilroy', sans-serif;
}

.navbar__brand {
  display: inline-block;
  width: 149px;
  height: 71px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9100;
}

.navbar__mobile {
  display: none;
  font-size: 1.5rem;
}

.navbar__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  margin: 0;
  padding: 0 15%;
  padding-top: 1.5rem;
  background: #f6f6f6;
  z-index: 9000;
}

.navbar__group__list {
  width: 25%;
  height: 4rem;
}

.navbar__group__list__item {
  display: inline-block;
  width: 3.1rem;
  margin-right: 2rem;
}

.navbar__group__list__item--link {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #181f2c;
}

.navbar__group__list__item--link::before {
  content: '';
  position: absolute;
  top: 1rem;
  width: 0;
  height: 3px;
  background: #ff4745;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.navbar__group__list__item--link.active::before {
  bottom: 0;
  width: 50px;
}

.navbar__group__list__item--link:hover::before {
  width: 50px;
}

@media (min-width: 320px) and (max-width: 750px) {
  body {
    max-width: 750px;
  }
  .navbar {
    padding: 0 5%;
  }
  .navbar__brand {
    position: absolute;
    left: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .navbar__mobile {
    display: block;
    width: 2rem;
    height: 2rem;
    float: right;
    margin: 1rem;
  }
  .navbar__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 6rem;
    height: 50vh;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #f6f6f6;
  }
  .navbar__group.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar__group__list {
    height: 6rem;
    padding: 0;
    text-align: left;
  }
  .navbar__group__list__item {
    display: block;
    width: 100%;
    height: 3rem;
  }
  .navbar__group__list__item--link::before {
    opacity: 0;
  }
  .fa-bars {
    color: #ff4745;
  }
}

@media (min-width: 751px) and (max-width: 1023px) {
  body {
    max-width: 1023px;
  }
  .navbar {
    padding: 5%;
  }
  .navbar__brand {
    left: 0;
    -webkit-transform: translateX() 10px;
            transform: translateX() 10px;
  }
  .navbar__mobile {
    display: block;
    width: 2rem;
    height: 2rem;
    float: right;
    margin: 1rem;
  }
  .navbar__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 6rem;
    height: 90vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #f6f6f6;
  }
  .navbar__group.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar__group.active__list {
    height: 6rem;
    padding: 0;
    text-align: left;
  }
  .navbar__group.active__list__item {
    display: block;
    width: 100%;
    height: 3rem;
  }
  .navbar__group.active__list__item::before {
    opacity: 0;
  }
  .fa-bars {
    color: #ff4745;
  }
}

* {
  font-family: 'Poppins', 'Gilroy', sans-serif;
  line-height: 1rem;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #181f2c;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  width: 100%;
  background: #f6f6f6;
  color: #181f2c;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.highligth {
  color: #ff4745;
}

.bolder {
  font-weight: bolder;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 1rem;
}

.fa-chevron-down {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
}

.container {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 0 15%;
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[autofit];
      grid-template-columns: repeat(autofit, 1fr);
}

.container__name {
  position: absolute;
  left: 1rem;
  top: 20%;
  width: 3rem;
  height: 2rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #cfcfcf;
}

.container__home {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
}

.container__home__banner {
  width: 50%;
  font-size: 4em;
  line-height: 1em;
}

.container__title {
  font-weight: normal;
  line-height: 2rem;
}

.container__works {
  -ms-grid-column-align: center;
      justify-self: center;
  align-self: flex-end;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.container__works__item {
  grid-column: span 1;
  background: #cfcfcf;
}

.container__blog__item {
  background-color: #cfcfcf;
}

.container__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container__info__social {
  margin: 0;
  line-height: 2rem;
}

.container__footer {
  width: 100%;
  height: 100%;
}

.container__footer__copyrigth {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.5rem;
  background: #cfcfcf;
  padding: 0 15%;
  font-size: 0.7rem;
}

.works {
  -ms-grid-rows: 3rem 1fr;
      grid-template-rows: 3rem 1fr;
}

.social__item {
  margin-left: 1.5rem;
}

.social__item__link:hover .fab {
  color: #ff4745;
}

.fab {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

.third {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
}

.fourth {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
}

.about {
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.about__item {
  grid-row: span 2;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__info__form {
  width: 100%;
  height: 100%;
}

.contact__info__item {
  width: 100%;
  height: 10rem;
  margin-top: 2rem;
  line-height: 2rem;
}

.contact__info__item--input {
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 2px solid #cfcfcf;
}

.contact__info__item--btn {
  width: 25%;
  height: 2.5rem;
  border: none;
  border-radius: 7px;
  background: #181f2c;
  color: #f6f6f6;
  font-weight: bolder;
}

.contact__info__social {
  margin: 0;
  line-height: 2rem;
}

.address {
  height: 2rem;
}

.message {
  height: 5rem;
}

.footer {
  height: 40vh;
}

.footer__social {
  width: 100%;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon {
  font-size: 3rem;
}

@media (min-width: 320px) and (max-width: 750px) {
  .container__home {
    text-align: left;
  }
  .container__home__banner {
    font-size: 2em;
  }
  .container__works {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .container__works__item {
    grid-column: span 2;
  }
  .container__blog__item {
    grid-column: span 2;
  }
  .works {
    -ms-grid-rows: 4rem 1fr;
        grid-template-rows: 4rem 1fr;
  }
  .first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .second {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .third {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .fourth {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  .about__item {
    grid-row: span 1;
  }
  .contact {
    height: 100vh;
  }
  .container__home__social,
  .contact__info__form {
    grid-column: span 2;
    margin-top: 2rem;
  }
}

@media (min-width: 751px) and (max-width: 1023px) {
  .container__home__banner {
    font-size: 2em;
  }
  .container__home__social {
    grid-column: span 2;
  }
  .container__works {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .container__works__item {
    grid-column: span 2;
  }
  .container__blog__item {
    grid-column: span 1;
  }
  .contact__info__form {
    grid-column: span 2;
    margin-top: 2rem;
  }
  .works {
    -ms-grid-rows: 4rem 1fr;
        grid-template-rows: 4rem 1fr;
  }
  .first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    grid-column: span 1;
  }
  .second {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    grid-column: span 1;
  }
  .third {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  .fourth {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  .about__item {
    grid-row: span 2;
    grid-column: span 1;
  }
}
/*# sourceMappingURL=styles.css.map */