@import './grid.css';
@import 'https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap';
:root {
	--background: rgb(246, 246, 246);
	--main: rgb(24, 31, 44);
	--second: rgb(255, 71, 69);
	--gray: rgb(88, 88, 88);
	--shadow: #cfcfcf;
}
html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background: var(--background);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: var(--gray);
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: var(--gray);
}

h1 {
	font-family: 'Gilroy', sans-serif;
	padding: 1rem 0;
}
label {
	width: 100%;
}

.h1-light {
	font-weight: normal;
}
.navbar {
	position: absolute;
	width: 100%;
	height: 5em;
	margin-top: 1rem;
	display: flex;
}
.navbar__brand {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.navbar__mobile {
	display: none;
}
.navbar__group {
	position: absolute;
	display: flex;
	padding: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3rem;
}
.navbar__list {
	list-style: none;
}
.navbar__group__list {
	list-style: none;
	width: 5rem;
	height: 2rem;
	display: flex;
	align-content: center;
}
.navbar__group__list:nth-child(1),
.navbar__group__list:nth-child(4) {
	margin: 0 3rem;
}
.navbar__group__list:nth-child(2) {
	margin-right: 30%;
}
.navbar__group__list:nth-child(3) {
	margin-left: 30%;
}
.navbar__group__list::before {
	content: '';
	width: 0;
	height: 3px;
	background: var(--second);
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease-in-out;
}
.navbar__group__list:hover:before {
	content: '';
	width: 2rem;
	height: 3px;
	background: var(--second);
	position: absolute;
	bottom: 0;
}

.navbar__group__list.active::before {
	content: '';
	width: 2rem;
	height: 3px;
	background: var(--second);
	position: absolute;
	bottom: 0;
}

.container--title {
	padding: 0;
	margin: 0;
	color: var(--main);
}
.content__about {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background);
	font-family: 'Gilroy', sans-serif;
	color: var(--main);
}
.content__about__home {
	width: 70%;
	text-align: center;
}
.content__about__home--title {
	font-size: 4em;
	line-height: 4rem;
}
.highligth {
	color: var(--second);
}
.content__about__home__social {
	margin-top: 3rem;
	font-size: 2em;
}
.content__about__home__social_icon {
	margin-left: 2rem;
	color: var(--main);
	transition: all 0.1s ease-in;
}
.content__about__home__social_icon:hover {
	color: var(--second);
}
.content__about__icon {
	position: absolute;
	bottom: 0;
	font-size: 2rem;
	transform: translateY(0);
	transition: all 50ms ease-in-out;
}
.content__about__icon:hover {
	transform: translateY(5px);
}
.container__name {
	position: absolute;
	left: -3rem;
	color: var(--shadow);
	opacity: 0.8;
	transform: rotate(-90deg);
	text-transform: uppercase;
}
.container__work__group__item {
	background: var(--gray);
}
.about {
	height: 60vh;
}
.container__about__item {
	background: var(--gray);
	opacity: 0.6;
}
.container__blog__group__item {
	list-style: none;
}
.container__blog__group__item--link:hover {
	color: var(--second);
}
.blog {
	height: 90vh;
}
.contact {
	height: 80vh;
}
.container__form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container__form--item {
	width: 100%;
	height: 4rem;
	margin: 1rem 0;
	padding: 1rem;
	box-sizing: border-box;
}

.container__form--item {
	border-top: none;
	border-left: 0;
	border-right: none;
	border-bottom: 3px solid var(--shadow);
}
.message {
	height: 5rem;
}
.btn {
	border-bottom: none;
	border-radius: 5px;
	background: var(--main);
	color: var(--second);
	font-size: 1.5rem;
	font-weight: bolder;
	cursor: pointer;
}
.container__legal--link {
	display: block;
	width: 100%;
	margin: 0.5rem;
}
.container__social {
	margin: 0;
}
.container__legal--link {
	color: var(--second);
}

@media (min-width: 320px) and (max-width: 750px) {
	body {
		max-width: 750px;
		width: 100%;
	}
	.navbar__brand {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar__mobile {
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar__group {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		z-index: 10;
		background: var(--background);
	}
	.navbar__group__list:nth-child(2) {
		margin-right: 3rem;
	}
	.navbar__group__list:nth-child(3) {
		margin-left: 3rem;
	}
}